table,
th,
tr {
  border-collapse: collapse;
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 700px;
  font-size: 24px;
  font-weight: normal;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: rgb(211 211 211);
}

.headTable {
  background-color: rgb(42 42 42);
  color: white;
}
